# Convert db file to csv

In [3]:
import pandas as pd
import sqlite3

In [5]:
conn = sqlite3.connect("WeatherNode.db")

In [6]:
df = pd.read_sql_query("select * from Weather_data;", conn)

In [7]:
df

,timestamp,tempSHT,hum,IR,Full,Visible,Lux,eCO2,TVOC,tempCCS,Pressure,altm,tempMPL
0,2019-11-16 03:50:54,27.61,62.08,40,117,77,103.38,508,16,34.57,29.83,48.50,26.75
1,2019-11-16 12:08:12,26.75,59.69,42,124,82,110.62,452,7,33.29,29.83,48.56,26.00
2,2019-11-16 12:09:13,26.56,59.56,42,124,82,110.62,459,8,32.67,29.83,48.63,25.81
3,2019-11-16 12:10:14,26.41,59.15,43,126,83,111.54,476,11,32.67,29.83,48.25,25.69
4,2019-11-16 12:11:15,26.47,61.38,43,127,84,113.34,497,14,32.67,29.83,48.19,25.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11155,2019-11-24 12:46:29,47.32,30.19,1747,4451,2704,3351.09,438,5,60.42,29.97,10.38,47.00
11156,2019-11-24 12:19:06,33.86,44.50,17,78,61,97.32,409,1,28.37,29.97,10.38,33.25
11157,2019-11-24 12:20:07,32.93,45.93,16,71,55,86.92,405,0,29.19,29.96,11.38,32.19
11158,2019-11-24 12:21:08,32.21,47.44,18,84,66,105.79,414,2,27.57,29.96,12.63,31.50
11159,2019-11-24 12:22:09,31.68,47.93,16,71,55,86.92,405,0,27.57,29.96,11.81,30.81

In [8]:
df.to_csv('Weather_data.csv')